In [1]:
import numpy as np
import pandas as pd

In [2]:
def collect(filelocation):
    # Read excel file
    df = pd.read_excel(filelocation)
    return df

In [3]:
df = collect(r"C:\Users\kelvin\OneDrive\Desktop\irisec.xlsx")
print("Iris shape",df.shape)
df.head()

Iris shape (150, 5)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Access the index of the data using index,iterrows,range, iteritems & itertuples

In [4]:
for i in df.index:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149

iterrows cannot access the index alone it must work with row,otherwise it will return the complicated resuts

In [5]:
for i,j in df.iterrows():
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149

Like iterrows it print complicated results if one variable is provided. 
it print all columns along with the rows ,hence we need to add  values
This not good for indexing since it has result for both columns and values

In [6]:
for key,values in df.iteritems():
    print(values)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal_Length, Length: 150, dtype: float64
0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: Sepal_Width, Length: 150, dtype: float64
0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Petal_Length, Length: 150, dtype: float64
0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: Petal_Width, Length: 150, dtype: float64
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [7]:
#The itertuples cannot rerurn index. it only return columns values
for i in df.itertuples(index=True,name='Pandas'):
    print(getattr(i,'Species'))

setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
setosa
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica
virginica

Print columns and their index in iterrows,iteritem,itertuple & range

In [8]:
#Print available columns in a dataframe using iteritems()
for key,value in df.iteritems():
    print(key)

Sepal_Length
Sepal_Width
Petal_Length
Petal_Width
Species

Get specific columns

In [9]:
#iterrows()
for i,j in df.iterrows():
    print(i,j["Species"],j["Sepal_Length"])
 #OR   
# for i,j in df.iterrows():
#     print(i,j[["Species","Sepal_Length"]])

0 setosa 5.1
1 setosa 4.9
2 setosa 4.7
3 setosa 4.6
4 setosa 5.0
5 setosa 5.4
6 setosa 4.6
7 setosa 5.0
8 setosa 4.4
9 setosa 4.9
10 setosa 5.4
11 setosa 4.8
12 setosa 4.8
13 setosa 4.3
14 setosa 5.8
15 setosa 5.7
16 setosa 5.4
17 setosa 5.1
18 setosa 5.7
19 setosa 5.1
20 setosa 5.4
21 setosa 5.1
22 setosa 4.6
23 setosa 5.1
24 setosa 4.8
25 setosa 5.0
26 setosa 5.0
27 setosa 5.2
28 setosa 5.2
29 setosa 4.7
30 setosa 4.8
31 setosa 5.4
32 setosa 5.2
33 setosa 5.5
34 setosa 4.9
35 setosa 5.0
36 setosa 5.5
37 setosa 4.9
38 setosa 4.4
39 setosa 5.1
40 setosa 5.0
41 setosa 4.5
42 setosa 4.4
43 setosa 5.0
44 setosa 5.1
45 setosa 4.8
46 setosa 5.1
47 setosa 4.6
48 setosa 5.3
49 setosa 5.0
50 versicolor 7.0
51 versicolor 6.4
52 versicolor 6.9
53 versicolor 5.5
54 versicolor 6.5
55 versicolor 5.7
56 versicolor 6.3
57 versicolor 4.9
58 versicolor 6.6
59 versicolor 5.2
60 versicolor 5.0
61 versicolor 5.9
62 versicolor 6.0
63 versicolor 6.1
64 versicolor 5.6
65 versicolor 6.7
66 versicolor 5.6
67 versicolor 5.8
68 versicolor 6.2
69 versicolor 5.6
70 versicolor 5.9
71 versicolor 6.1
72 versicolor 6.3
73 versicolor 6.1
74 versicolor 6.4
75 versicolor 6.6
76 versicolor 6.8
77 versicolor 6.7
78 versicolor 6.0
79 versicolor 5.7
80 versicolor 5.5
81 versicolor 5.5
82 versicolor 5.8
83 versicolor 6.0
84 versicolor 5.4
85 versicolor 6.0
86 versicolor 6.7
87 versicolor 6.3
88 versicolor 5.6
89 versicolor 5.5
90 versicolor 5.5
91 versicolor 6.1
92 versicolor 5.8
93 versicolor 5.0
94 versicolor 5.6
95 versicolor 5.7
96 versicolor 5.7
97 versicolor 6.2
98 versicolor 5.1
99 versicolor 5.7
100 virginica 6.3
101 virginica 5.8
102 virginica 7.1
103 virginica 6.3
104 virginica 6.5
105 virginica 7.6
106 virginica 4.9
107 virginica 7.3
108 virginica 6.7
109 virginica 7.2
110 virginica 6.5
111 virginica 6.4
112 virginica 6.8
113 virginica 5.7
114 virginica 5.8
115 virginica 6.4
116 virginica 6.5
117 virginica 7.7
118 virginica 7.7
119 virginica 6.0
120 virginica 6.9
121 virginica 5.6
122 virginica 7.7
123 virginica 6.3
124 virginica 6.7
125 virginica 7.2
126 virginica 6.2
127 virginica 6.1
128 virginica 6.4
129 virginica 7.2
130 virginica 7.4
131 virginica 7.9
132 virginica 6.4
133 virginica 6.3
134 virginica 6.1
135 virginica 7.7
136 virginica 6.3
137 virginica 6.4
138 virginica 6.0
139 virginica 6.9
140 virginica 6.7
141 virginica 6.9
142 virginica 5.8
143 virginica 6.8
144 virginica 6.7
145 virginica 6.7
146 virginica 6.3
147 virginica 6.5
148 virginica 6.2
149 virginica 5.9

In [10]:
#Iteritems cannot access specific columns

In [11]:
#Using range is very effective as it access using iloc & loc indexing 
for i in range(len(df)):
    print(df.loc[i, "Species"], df.loc[i, "Sepal_Length"])

setosa 5.1
setosa 4.9
setosa 4.7
setosa 4.6
setosa 5.0
setosa 5.4
setosa 4.6
setosa 5.0
setosa 4.4
setosa 4.9
setosa 5.4
setosa 4.8
setosa 4.8
setosa 4.3
setosa 5.8
setosa 5.7
setosa 5.4
setosa 5.1
setosa 5.7
setosa 5.1
setosa 5.4
setosa 5.1
setosa 4.6
setosa 5.1
setosa 4.8
setosa 5.0
setosa 5.0
setosa 5.2
setosa 5.2
setosa 4.7
setosa 4.8
setosa 5.4
setosa 5.2
setosa 5.5
setosa 4.9
setosa 5.0
setosa 5.5
setosa 4.9
setosa 4.4
setosa 5.1
setosa 5.0
setosa 4.5
setosa 4.4
setosa 5.0
setosa 5.1
setosa 4.8
setosa 5.1
setosa 4.6
setosa 5.3
setosa 5.0
versicolor 7.0
versicolor 6.4
versicolor 6.9
versicolor 5.5
versicolor 6.5
versicolor 5.7
versicolor 6.3
versicolor 4.9
versicolor 6.6
versicolor 5.2
versicolor 5.0
versicolor 5.9
versicolor 6.0
versicolor 6.1
versicolor 5.6
versicolor 6.7
versicolor 5.6
versicolor 5.8
versicolor 6.2
versicolor 5.6
versicolor 5.9
versicolor 6.1
versicolor 6.3
versicolor 6.1
versicolor 6.4
versicolor 6.6
versicolor 6.8
versicolor 6.7
versicolor 6.0
versicolor 5.7
versicolor 5.5
versicolor 5.5
versicolor 5.8
versicolor 6.0
versicolor 5.4
versicolor 6.0
versicolor 6.7
versicolor 6.3
versicolor 5.6
versicolor 5.5
versicolor 5.5
versicolor 6.1
versicolor 5.8
versicolor 5.0
versicolor 5.6
versicolor 5.7
versicolor 5.7
versicolor 6.2
versicolor 5.1
versicolor 5.7
virginica 6.3
virginica 5.8
virginica 7.1
virginica 6.3
virginica 6.5
virginica 7.6
virginica 4.9
virginica 7.3
virginica 6.7
virginica 7.2
virginica 6.5
virginica 6.4
virginica 6.8
virginica 5.7
virginica 5.8
virginica 6.4
virginica 6.5
virginica 7.7
virginica 7.7
virginica 6.0
virginica 6.9
virginica 5.6
virginica 7.7
virginica 6.3
virginica 6.7
virginica 7.2
virginica 6.2
virginica 6.1
virginica 6.4
virginica 7.2
virginica 7.4
virginica 7.9
virginica 6.4
virginica 6.3
virginica 6.1
virginica 7.7
virginica 6.3
virginica 6.4
virginica 6.0
virginica 6.9
virginica 6.7
virginica 6.9
virginica 5.8
virginica 6.8
virginica 6.7
virginica 6.7
virginica 6.3
virginica 6.5
virginica 6.2
virginica 5.9

In [12]:
#Using the index to access
for i in range(len(df)):
    print(df.iloc[i, 0], df.iloc[i, 1])

5.1 3.5
4.9 3.0
4.7 3.2
4.6 3.1
5.0 3.6
5.4 3.9
4.6 3.4
5.0 3.4
4.4 2.9
4.9 3.1
5.4 3.7
4.8 3.4
4.8 3.0
4.3 3.0
5.8 4.0
5.7 4.4
5.4 3.9
5.1 3.5
5.7 3.8
5.1 3.8
5.4 3.4
5.1 3.7
4.6 3.6
5.1 3.3
4.8 3.4
5.0 3.0
5.0 3.4
5.2 3.5
5.2 3.4
4.7 3.2
4.8 3.1
5.4 3.4
5.2 4.1
5.5 4.2
4.9 3.1
5.0 3.2
5.5 3.5
4.9 3.6
4.4 3.0
5.1 3.4
5.0 3.5
4.5 2.3
4.4 3.2
5.0 3.5
5.1 3.8
4.8 3.0
5.1 3.8
4.6 3.2
5.3 3.7
5.0 3.3
7.0 3.2
6.4 3.2
6.9 3.1
5.5 2.3
6.5 2.8
5.7 2.8
6.3 3.3
4.9 2.4
6.6 2.9
5.2 2.7
5.0 2.0
5.9 3.0
6.0 2.2
6.1 2.9
5.6 2.9
6.7 3.1
5.6 3.0
5.8 2.7
6.2 2.2
5.6 2.5
5.9 3.2
6.1 2.8
6.3 2.5
6.1 2.8
6.4 2.9
6.6 3.0
6.8 2.8
6.7 3.0
6.0 2.9
5.7 2.6
5.5 2.4
5.5 2.4
5.8 2.7
6.0 2.7
5.4 3.0
6.0 3.4
6.7 3.1
6.3 2.3
5.6 3.0
5.5 2.5
5.5 2.6
6.1 3.0
5.8 2.6
5.0 2.3
5.6 2.7
5.7 3.0
5.7 2.9
6.2 2.9
5.1 2.5
5.7 2.8
6.3 3.3
5.8 2.7
7.1 3.0
6.3 2.9
6.5 3.0
7.6 3.0
4.9 2.5
7.3 2.9
6.7 2.5
7.2 3.6
6.5 3.2
6.4 2.7
6.8 3.0
5.7 2.5
5.8 2.8
6.4 3.2
6.5 3.0
7.7 3.8
7.7 2.6
6.0 2.2
6.9 3.2
5.6 2.8
7.7 2.8
6.3 2.7
6.7 3.3
7.2 3.2
6.2 2.8
6.1 3.0
6.4 2.8
7.2 3.0
7.4 2.8
7.9 3.8
6.4 2.8
6.3 2.8
6.1 2.6
7.7 3.0
6.3 3.4
6.4 3.1
6.0 3.0
6.9 3.1
6.7 3.1
6.9 3.1
5.8 2.7
6.8 3.2
6.7 3.3
6.7 3.0
6.3 2.5
6.5 3.0
6.2 3.4
5.9 3.0

In [13]:
#Using the itertuples and the function getattr()
for i in df.itertuples(index=True,name='Pandas'):
    print(getattr(i,"Species"), getattr(i,"Sepal_Length"))

setosa 5.1
setosa 4.9
setosa 4.7
setosa 4.6
setosa 5.0
setosa 5.4
setosa 4.6
setosa 5.0
setosa 4.4
setosa 4.9
setosa 5.4
setosa 4.8
setosa 4.8
setosa 4.3
setosa 5.8
setosa 5.7
setosa 5.4
setosa 5.1
setosa 5.7
setosa 5.1
setosa 5.4
setosa 5.1
setosa 4.6
setosa 5.1
setosa 4.8
setosa 5.0
setosa 5.0
setosa 5.2
setosa 5.2
setosa 4.7
setosa 4.8
setosa 5.4
setosa 5.2
setosa 5.5
setosa 4.9
setosa 5.0
setosa 5.5
setosa 4.9
setosa 4.4
setosa 5.1
setosa 5.0
setosa 4.5
setosa 4.4
setosa 5.0
setosa 5.1
setosa 4.8
setosa 5.1
setosa 4.6
setosa 5.3
setosa 5.0
versicolor 7.0
versicolor 6.4
versicolor 6.9
versicolor 5.5
versicolor 6.5
versicolor 5.7
versicolor 6.3
versicolor 4.9
versicolor 6.6
versicolor 5.2
versicolor 5.0
versicolor 5.9
versicolor 6.0
versicolor 6.1
versicolor 5.6
versicolor 6.7
versicolor 5.6
versicolor 5.8
versicolor 6.2
versicolor 5.6
versicolor 5.9
versicolor 6.1
versicolor 6.3
versicolor 6.1
versicolor 6.4
versicolor 6.6
versicolor 6.8
versicolor 6.7
versicolor 6.0
versicolor 5.7
versicolor 5.5
versicolor 5.5
versicolor 5.8
versicolor 6.0
versicolor 5.4
versicolor 6.0
versicolor 6.7
versicolor 6.3
versicolor 5.6
versicolor 5.5
versicolor 5.5
versicolor 6.1
versicolor 5.8
versicolor 5.0
versicolor 5.6
versicolor 5.7
versicolor 5.7
versicolor 6.2
versicolor 5.1
versicolor 5.7
virginica 6.3
virginica 5.8
virginica 7.1
virginica 6.3
virginica 6.5
virginica 7.6
virginica 4.9
virginica 7.3
virginica 6.7
virginica 7.2
virginica 6.5
virginica 6.4
virginica 6.8
virginica 5.7
virginica 5.8
virginica 6.4
virginica 6.5
virginica 7.7
virginica 7.7
virginica 6.0
virginica 6.9
virginica 5.6
virginica 7.7
virginica 6.3
virginica 6.7
virginica 7.2
virginica 6.2
virginica 6.1
virginica 6.4
virginica 7.2
virginica 7.4
virginica 7.9
virginica 6.4
virginica 6.3
virginica 6.1
virginica 7.7
virginica 6.3
virginica 6.4
virginica 6.0
virginica 6.9
virginica 6.7
virginica 6.9
virginica 5.8
virginica 6.8
virginica 6.7
virginica 6.7
virginica 6.3
virginica 6.5
virginica 6.2
virginica 5.9

Transformation/Engineering using for loop

In [14]:
#iterrows()
#Adding new column with proportion of Sepal_Width
for i,j in df.iterrows():
    df.loc[i,"new"] = j["Sepal_Length"]/j["Sepal_Width"]*100
df

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Species,new
0,5.1,3.5,1.4,0.2,setosa,145.714286
1,4.9,3.0,1.4,0.2,setosa,163.333333
2,4.7,3.2,1.3,0.2,setosa,146.875000
3,4.6,3.1,1.5,0.2,setosa,148.387097
4,5.0,3.6,1.4,0.2,setosa,138.888889
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,223.333333
146,6.3,2.5,5.0,1.9,virginica,252.000000
147,6.5,3.0,5.2,2.0,virginica,216.666667
148,6.2,3.4,5.4,2.3,virginica,182.352941
149,5.9,3.0,5.1,1.8,virginica,196.666667

In [15]:
#Range()
#Finding the percentage of Sepal_Length
for i in range(len(df)):
    df.loc[i,"Proportion"] = round((df.loc[i, "Sepal_Length"] /len(df)*100),3)
df

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Species,new,Proportion
0,5.1,3.5,1.4,0.2,setosa,145.714286,3.400
1,4.9,3.0,1.4,0.2,setosa,163.333333,3.267
2,4.7,3.2,1.3,0.2,setosa,146.875000,3.133
3,4.6,3.1,1.5,0.2,setosa,148.387097,3.067
4,5.0,3.6,1.4,0.2,setosa,138.888889,3.333
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,223.333333,4.467
146,6.3,2.5,5.0,1.9,virginica,252.000000,4.200
147,6.5,3.0,5.2,2.0,virginica,216.666667,4.333
148,6.2,3.4,5.4,2.3,virginica,182.352941,4.133
149,5.9,3.0,5.1,1.8,virginica,196.666667,3.933

In [16]:
#itertuples()
for i in df.itertuples(index=True,name='Pandas'):
    print(round(getattr(i,"Sepal_Width") /len(df)*100,2))

2.33
2.0
2.13
2.07
2.4
2.6
2.27
2.27
1.93
2.07
2.47
2.27
2.0
2.0
2.67
2.93
2.6
2.33
2.53
2.53
2.27
2.47
2.4
2.2
2.27
2.0
2.27
2.33
2.27
2.13
2.07
2.27
2.73
2.8
2.07
2.13
2.33
2.4
2.0
2.27
2.33
1.53
2.13
2.33
2.53
2.0
2.53
2.13
2.47
2.2
2.13
2.13
2.07
1.53
1.87
1.87
2.2
1.6
1.93
1.8
1.33
2.0
1.47
1.93
1.93
2.07
2.0
1.8
1.47
1.67
2.13
1.87
1.67
1.87
1.93
2.0
1.87
2.0
1.93
1.73
1.6
1.6
1.8
1.8
2.0
2.27
2.07
1.53
2.0
1.67
1.73
2.0
1.73
1.53
1.8
2.0
1.93
1.93
1.67
1.87
2.2
1.8
2.0
1.93
2.0
2.0
1.67
1.93
1.67
2.4
2.13
1.8
2.0
1.67
1.87
2.13
2.0
2.53
1.73
1.47
2.13
1.87
1.87
1.8
2.2
2.13
1.87
2.0
1.87
2.0
1.87
2.53
1.87
1.87
1.73
2.0
2.27
2.07
2.0
2.07
2.07
2.07
1.8
2.13
2.2
2.0
1.67
2.0
2.27
2.0

Apply() function
Apply function with loop
independent apply() without loop function

In [17]:
# iterate through each row and select
# 'Species' and 'Sepal_length' column respectively.
for row in df.itertuples(index=True, name='Pandas'):
    print(getattr(row, "Sepal_Width"), getattr(row, "Sepal_Length"))

3.5 5.1
3.0 4.9
3.2 4.7
3.1 4.6
3.6 5.0
3.9 5.4
3.4 4.6
3.4 5.0
2.9 4.4
3.1 4.9
3.7 5.4
3.4 4.8
3.0 4.8
3.0 4.3
4.0 5.8
4.4 5.7
3.9 5.4
3.5 5.1
3.8 5.7
3.8 5.1
3.4 5.4
3.7 5.1
3.6 4.6
3.3 5.1
3.4 4.8
3.0 5.0
3.4 5.0
3.5 5.2
3.4 5.2
3.2 4.7
3.1 4.8
3.4 5.4
4.1 5.2
4.2 5.5
3.1 4.9
3.2 5.0
3.5 5.5
3.6 4.9
3.0 4.4
3.4 5.1
3.5 5.0
2.3 4.5
3.2 4.4
3.5 5.0
3.8 5.1
3.0 4.8
3.8 5.1
3.2 4.6
3.7 5.3
3.3 5.0
3.2 7.0
3.2 6.4
3.1 6.9
2.3 5.5
2.8 6.5
2.8 5.7
3.3 6.3
2.4 4.9
2.9 6.6
2.7 5.2
2.0 5.0
3.0 5.9
2.2 6.0
2.9 6.1
2.9 5.6
3.1 6.7
3.0 5.6
2.7 5.8
2.2 6.2
2.5 5.6
3.2 5.9
2.8 6.1
2.5 6.3
2.8 6.1
2.9 6.4
3.0 6.6
2.8 6.8
3.0 6.7
2.9 6.0
2.6 5.7
2.4 5.5
2.4 5.5
2.7 5.8
2.7 6.0
3.0 5.4
3.4 6.0
3.1 6.7
2.3 6.3
3.0 5.6
2.5 5.5
2.6 5.5
3.0 6.1
2.6 5.8
2.3 5.0
2.7 5.6
3.0 5.7
2.9 5.7
2.9 6.2
2.5 5.1
2.8 5.7
3.3 6.3
2.7 5.8
3.0 7.1
2.9 6.3
3.0 6.5
3.0 7.6
2.5 4.9
2.9 7.3
2.5 6.7
3.6 7.2
3.2 6.5
2.7 6.4
3.0 6.8
2.5 5.7
2.8 5.8
3.2 6.4
3.0 6.5
3.8 7.7
2.6 7.7
2.2 6.0
3.2 6.9
2.8 5.6
2.8 7.7
2.7 6.3
3.3 6.7
3.2 7.2
2.8 6.2
3.0 6.1
2.8 6.4
3.0 7.2
2.8 7.4
3.8 7.9
2.8 6.4
2.8 6.3
2.6 6.1
3.0 7.7
3.4 6.3
3.1 6.4
3.0 6.0
3.1 6.9
3.1 6.7
3.1 6.9
2.7 5.8
3.2 6.8
3.3 6.7
3.0 6.7
2.5 6.3
3.0 6.5
3.4 6.2
3.0 5.9

In [18]:
print(df.apply(lambda k:str(k["Sepal_Length"]) + " "+ str(k["Sepal_Width"]),axis=1 ))

0      5.1 3.5
1      4.9 3.0
2      4.7 3.2
3      4.6 3.1
4      5.0 3.6
        ...
145    6.7 3.0
146    6.3 2.5
147    6.5 3.0
148    6.2 3.4
149    5.9 3.0
Length: 150, dtype: object

In [19]:
#Multiplying Petal_Length values with 1.5
print(df.apply(lambda k:k["Petal_Length"] * 1.5,axis=1 ))

0      2.10
1      2.10
2      1.95
3      2.25
4      2.10
       ...
145    7.80
146    7.50
147    7.80
148    8.10
149    7.65
Length: 150, dtype: float64

Independent apply function without lambda & for loop
This method is mostly used with numpy fuction

In [20]:
df["SLSQRT"] = df["Sepal_Length"].apply(np.sqrt)
df

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Species,new,Proportion,SLSQRT
0,5.1,3.5,1.4,0.2,setosa,145.714286,3.400,2.258318
1,4.9,3.0,1.4,0.2,setosa,163.333333,3.267,2.213594
2,4.7,3.2,1.3,0.2,setosa,146.875000,3.133,2.167948
3,4.6,3.1,1.5,0.2,setosa,148.387097,3.067,2.144761
4,5.0,3.6,1.4,0.2,setosa,138.888889,3.333,2.236068
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,223.333333,4.467,2.588436
146,6.3,2.5,5.0,1.9,virginica,252.000000,4.200,2.509980
147,6.5,3.0,5.2,2.0,virginica,216.666667,4.333,2.549510
148,6.2,3.4,5.4,2.3,virginica,182.352941,4.133,2.489980
149,5.9,3.0,5.1,1.8,virginica,196.666667,3.933,2.428992